<div class="topbar">
  <nav class="navbar navbar-expand-lg navbar-light">
      <div class="full">
        {# <button type="button"  class="p-4 bg-warning"><i class="fa fa-bars"></i></button> #}
        <a href="/" ><img width="40px" class="img-responsive ml-2 py-2" src="/public/images/logo/logo_jambii.png" alt="#" /><span><h3 class="text-white">Kelurahan Solok Sipin</h3></span></a>
        <div class="right_topbar">
            <div class="icon_info">
              <ul class="user_profile_dd">
                  <li>
                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive" src="/public/images/logo/logo_jambii.png" alt="#" /><span class="name_user">{{name}}</span></a>
                    <div class="dropdown-menu">
                        {# <a class="dropdown-item" href="/profile">My Profile</a> #}
                        <a class="dropdown-item" href="/logout"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                    </div>
                  </li>
              </ul>
            </div>
        </div>
      </div>
  </nav>
</div>