<!-- jQuery -->
      <script src="/public/js/jquery.min.js"></script>
      <script src="/public/js/popper.min.js"></script>
      <script src="/public/js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="/public/js/animate.js"></script>
      <!-- select country -->
      <script src="/public/js/bootstrap-select.js"></script>
      <!-- owl carousel -->
      <script src="/public/js/owl.carousel.js"></script> 
      <!-- chart js -->
      <script src="/public/js/Chart.min.js"></script>
      <script src="/public/js/Chart.bundle.min.js"></script>
      <script src="/public/js/utils.js"></script>
      <script src="/public/js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="/public/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="/public/js/chart_custom_style1.js"></script>
      <script src="/public/js/custom.js"></script>

      <!-- Data Table JS CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
      <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
      <script>
            new DataTable('#example');
      </script>
      