<!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js')}}"></script>
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js')}}"></script>
      <!-- owl carousel -->
      <script src="{{ url_for('static', filename='js/owl.carousel.js')}}"></script> 
      <!-- chart js -->
      <script src="{{ url_for('static', filename='js/Chart.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/Chart.bundle.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/utils.js')}}"></script>
      <script src="{{ url_for('static', filename='js/analyser.js')}}"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js')}}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/chart_custom_style1.js')}}"></script>
      <script src="{{ url_for('static', filename='js/custom.js')}}"></script>