<nav id="sidebar">
    <div class="sidebar_blog_1">
      <div class="sidebar-header">
          <div class="logo_section">
            <a href="#"><img class="logo_icon img-responsive" src="/public/images/logo/logo_icon.png" alt="#" /></a>
          </div>
      </div>
      <div class="sidebar_user_info">
          <div class="icon_setting"></div>
          <div class="user_profle_side">
            <div class="user_img"><img class="img-responsive" src="/public/images/layout_img/user_img.jpg" alt="#" /></div>
            <div class="user_info">
                <h6>John David</h6>
                <p><span class="online_animation"></span> Online</p>
            </div>
          </div>
      </div>
    </div>
    <div class="sidebar_blog_2">
      <h4>General</h4>
      <ul class="list-unstyled components">
          <li><a href="/"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a></li>
          
          <li><a href="/user"><i class="fa fa-user purple_color2"></i> <span>User</span></a></li>

          <li><a href="/warga"><i class="fa fa-users green_color"></i> <span>Data Warga</span></a></li>
          <li>
            <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Klasifikasi</span></a>
            <ul class="collapse list-unstyled" id="apps">
                <li><a href="/klasifikasi/report/training">> <span>Hasil Training</span></a></li>
                <li><a href="/klasifikasi/prediksi">> <span>Prediksi</span></a></li>
            </ul>
          </li>
      </ul>
    </div>
</nav>