{% include "components/head.jinja" %}

{% include "components/nav.jinja" %}

        {% block admin %}
        {% endblock admin %}

{% include "components/foot.jinja" %}
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>
{% include "components/script.Js.jinja" %}
</body>

</html>