{% extends "layout/main.jinja" %}

{% block main %}  

<div class="center verticle_center full_height">
    <div class="error_page">
        <div class="center">
            <div class="error_icon">
                <img class="img-responsive" src="{{ url_for('static',filename='images/sorry.gif')}}" alt="error-img">
            </div>
        </div>
        <br>
        <h3>Server Error !</h3>
        <P>{{ message | default("Opps sorry, Internal Server Error") }}</P>
        <div class="center"><button class="main_bt" onclick="history.back()">Kembali</button></div>
    </div>
</div>

{% endblock main %}