{% extends "layout/auth.jinja" %}

{% block main %}
<!-- dashboard inner -->
<div class="login_section">
    <div class="logo_login">
        <div class="center">
            <img width="210" src="{{ url_for('static', filename='images/logo/logo.png')}}" alt="#" />
        </div>
    </div>
    <div class="login_form">
        <h3 class="text-center mb-4">Sign In</h3>
        <form action="/login" method="post">
            <fieldset>
                <div class="field">
                    <label class="label_field">Email Address</label>
                    <input type="email" name="email" placeholder="E-mail" />
                </div>
                <div class="field">
                    <label class="label_field">Password</label>
                    <input type="password" name="password" placeholder="Password" />
                </div>
                <div class="field margin_0">
                    <label class="label_field hidden">hidden label</label>
                    <button class="main_bt">Sing In</button>
                </div>
                <div class="field">
                    <label class="label_field hidden">hidden label</label>
                    <label class=""><em>belum punya akun? <a class="text-primary" href="/register"><strong>Sign Up</strong></a></em></label>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!-- end dashboard inner -->
{% endblock main %}