{% extends "layout/auth.jinja" %}

{% block main %}
<!-- dashboard inner -->
<div class="login_section">
    <div class="logo_login">
        <div class="center">
            <img width="50px" src="/public/images/logo/logo_jambii.png" alt="#" />
            <span class="display-4 text-white"> Kelurahan Solok Sipin</span>
        </div>
    </div>
    <div class="login_form">
        <h3 class="text-center mb-4">Sign In</h3>
        <form>
            <fieldset>
                <div class="field">
                    <label class="label_field">Email Address</label>
                    <input type="email" name="email" placeholder="E-mail" />
                </div>
                <div class="field">
                    <label class="label_field">Password</label>
                    <input type="password" name="password" placeholder="Password" />
                </div>
                <div class="field margin_0">
                    <label class="label_field hidden">hidden label</label>
                    <button type="button" onclick="login()" class="main_bt">Sing In</button>
                </div>
                <div class="field">
                    <label class="label_field hidden">hidden label</label>
                    <label class=""><em>belum punya akun? <a class="text-primary" href="/register"><strong>Sign Up</strong></a></em></label>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script>
    function login() {
        let email = document.querySelector('input[name="email"]').value;
        let password = document.querySelector('input[name="password"]').value;
        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({email, password})
        }).then(res => res.json())
            .then(res => {
                if (res.status == 'success') {
                    alert('Login berhasil');
                } else {
                    alert(res.message);
                }
        }).catch(err => {
            console.log(err);
            alert('Terjadi kesalahan');
        }).finally(() => {
            window.location.reload();
        });
    }
</script>
<!-- end dashboard inner -->
{% endblock main %}