{% extends "layout/auth.jinja" %}

{% block main %}
<!-- dashboard inner -->
<div class="login_section">
    <div class="logo_login">
        <div class="center">
            <img width="50px" src="/public/images/logo/logo_jambii.png" alt="#" />
            <span class="display-4 text-white"> Kelurahan Solok Sipin</span>
        </div>
    </div>
    <div class="login_form">
        <h3 class="text-center mb-4">Sign Up</h3>
        <form action="/register" method="post">
            <fieldset>
                <div class="field">
                    <label class="label_field">Nama</label>
                    <input type="text" name="name" placeholder="Nama Lengkap" required />
                </div>
                <div class="field">
                    <label class="label_field">Email Address</label>
                    <input type="email" name="email" placeholder="E-mail" required />
                </div>
                <div class="field">
                    <label class="label_field">Password</label>
                    <input type="password" name="password" placeholder="Password" required />
                </div>
                <div class="field margin_0">
                    <label class="label_field hidden">hidden label</label>
                    <button type="submit" class="main_bt">Sing Up</button>
                </div>
                <div class="field">
                    <label class="label_field hidden">hidden label</label>
                    <label class=""><em>sudah punya akun? <a class="text-primary" href="/login"><strong>Sign In</strong></a></em></label>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!-- end dashboard inner -->
{% endblock main %}