{% extends "layout/main.jinja" %}

{% block main %}  
<!-- dashboard inner -->
<div class="midde_cont">
  <div class="container-fluid">
      <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
              <h2>List User</h2>
            </div>
        </div>
      </div>
      <!-- Tabel Start -->
      <div class="col-md-12">
          <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
                <div class="heading1 margin_0">
                  <h2>Table User</h2>
                </div>
            </div>
            <div class="table_section padding_infor_info">
                <div class="table-responsive-sm">
                <table id="example" class="table table-striped" style="width:100%">
                      <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% set data = [
                            {
                                "name": "Anna Bayudi",
                                "email": "anna@gmail.com",
                                "role": "user"
                            }
                        ] %}
                        {% for i in range(20) %}
                          {% for item in data %}
                            <tr>
                                <td>{{ i + 1 }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.role }}</td>
                            </tr>
                          {% endfor %}
                        {% endfor %}
                      </tbody>
                  </table>
                </div>
            </div>
          </div>
      </div>
      <!-- Tabel End -->
  </div>
</div>
<!-- end dashboard inner -->
{% endblock main %}