{% extends "layout/main.jinja" %}

{% block main %}  
<!-- dashboard inner -->
<div class="midde_cont">
  <div class="container-fluid">
      <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title mt-3">
              <h2>List User</h2>
            </div>
        </div>
      </div>
      <!-- Tabel Start -->
      <div class="col-md-12">
          <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
              <div class="d-flex justify-content-between align-items-center">
                  <h3 class="font-weight-normal">Data Akun Admin</h3>
                  <button class="btn btn-primary no-print" onclick="sendData()">Cetak</button>
              </div>
            </div>
            <div class="table_section padding_infor_info">
                <div id="data" class="table-responsive-sm">
                <h4 id="title" class="text-center my-4 d-none">Data Akun Admin</h4>
                <table id="example" class="table table-inbox table-hover table-striped text-center" style="width:100%">
                      <thead class="bg-dark text-white text-center">
                        <tr>
                            <th><b>Nama</b></th>
                            <th><b>Email</b></th>
                            <th><b>Role</b></th>
                        </tr>
                      </thead>
                      <tbody class="text-left">
                        {% if data != "empty" %}
                          {% for item in data %}
                            <tr>
                                <td class="text-center">{{ item.name }}</td>
                                <td class="text-center">{{ item.email }}</td>
                                <td class="text-center">{{ item.role }}</td>
                            </tr>
                          {% endfor %}
                        {% endif %}
                      </tbody>
                  </table>
                </div>
            </div>
          </div>
      </div>
      <!-- Tabel End -->
  </div>
</div>
<!-- end dashboard inner -->
{% endblock main %}