{% extends "layout/main.jinja" %}

{% block main %}  
<!-- dashboard inner -->
<div class="midde_cont">
  <div class="container-fluid">
      <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
              <h2>Dashboard</h2>
            </div>
        </div>
      </div>
      <div class="row column1">
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
              <div class="couter_icon">
                  <div> 
                    <i class="fa fa-user yellow_color"></i>
                  </div>
              </div>
              <div class="counter_no">
                  <div>
                    <p class="total_no">70</p>
                    <p class="head_couter">Miskin Extreme</p>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
              <div class="couter_icon">
                  <div> 
                    <i class="fa fa-clock-o blue1_color"></i>
                  </div>
              </div>
              <div class="counter_no">
                  <div>
                    <p class="total_no">35</p>
                    <p class="head_couter">PKH</p>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
              <div class="couter_icon">
                  <div> 
                    <i class="fa fa-cloud-download green_color"></i>
                  </div>
              </div>
              <div class="counter_no">
                  <div>
                    <p class="total_no">40</p>
                    <p class="head_couter">CBP</p>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
              <div class="couter_icon">
                  <div> 
                    <i class="fa fa-comments-o red_color"></i>
                  </div>
              </div>
              <div class="counter_no">
                  <div>
                    <p class="total_no">30</p>
                    <p class="head_couter">Tidak Layak</p>
                  </div>
              </div>
            </div>
        </div>
      </div>

      <!-- graph -->
      <div class="row column2 graph margin_bottom_30">
        <div class="col-md-l2 col-lg-12">
            <div class="white_shd full">
              <div class="full graph_head">
                  <div class="heading1 margin_0">
                    <h2>Grafik Penerima Manfaat</h2>
                  </div>
              </div>
              <div class="full graph_revenue">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                          <div class="area_chart">
                              <canvas height="120" id="canvas"></canvas>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <!-- end graph -->
  </div>
</div>
<!-- end dashboard inner -->
{% endblock main %}